body{
  font-family:Robotto;
  box-sizing: border-box;
  background: linear-gradient(30deg ,rgb(137, 126, 237),white  ,rgb(228, 163, 228) );
  overflow-x: hidden;

}


*{
  margin:0;
  padding:0;
}

@media screen and (max-width:748px) {
      .mobFirst1{
        display: none!important;
      }
    
      .search-input{
        width:60%
      }
}

@media screen and (max-width:960px) {
      .mobFirst{
        display: none!important;
      }
      .sidebar{
        display: block!important;
      }
    }

    .sidebar{
      display: none;
    }

.pointer{
  cursor: pointer;
}
.pointer:hover{
  transform:scale(1.12);
}

::-webkit-scrollbar {
  width: 10px;
}

 ::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background-color: transparent;
} 

.appName{
  background:linear-gradient(30deg,rgb(55, 55, 204),rgb(245, 6, 6),rgb(236, 176, 123) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.home,.profilePage{
 display: flex;
 justify-content: space-evenly;
}
.signUpForm{
  display: grid;
  grid-template: repeat(3,1fr)/1fr 1fr;
  gap:5px;
}

.updateModal{
  display: grid;
   grid-template: repeat(4,1fr)/1fr 1fr;
  gap:5px;
}

.updateModal div{
  margin:0.5em;
}

.form-control{
  background-color:rgb(211, 206, 206)
}

.loginForm input{
  margin-bottom: 0.4rem;

}
.username,.stay{
  grid-column: 1/3;
  grid-row: 2/3;
}
.smallFont{
  font-size: 13px;
  color:rgb(109, 107, 107)
}
.navIcons:hover{
  background-color: rgb(174, 171, 171);
  transform: scale(1.2);
  border-radius: 50%;
  cursor: pointer;
}


